---
page_title: "{{.Name}} {{.Type}} - {{.RenderedProviderName}}"
subcategory: "Organization"
description: |-
{{ .Description | plainmarkdown | trimspace | prefixlines "  " }}
---

# {{.Name}} ({{.Type}})

{{ .Description | trimspace }}

For product context, see [Skills](https://ona.com/docs/ona/skills).

{{ if .HasExamples -}}
## Example Usage

{{- range .ExampleFiles }}

{{ tffile . }}
{{- end }}
{{- end }}

{{ .SchemaMarkdown | trimspace }}
