---
page_title: "{{.Name}} {{.Type}} - {{.RenderedProviderName}}"
subcategory: "Projects"
description: |-
{{ .Description | plainmarkdown | trimspace | prefixlines "  " }}
---

# {{.Name}} ({{.Type}})

{{ .Description | trimspace }}

For product context, see [Warm Pools](https://ona.com/docs/ona/projects/warm-pools).

{{ if .HasExamples -}}
## Example Usage

{{- range .ExampleFiles }}

{{ tffile . }}
{{- end }}
{{- end }}

{{ .SchemaMarkdown | trimspace }}
