---
page_title: "{{.Name}} {{.Type}} - {{.RenderedProviderName}}"
subcategory: "Integrations and Automation"
description: |-
{{ .Description | plainmarkdown | trimspace | prefixlines "  " }}
---

# {{.Name}} ({{.Type}})

{{ .Description | trimspace }}

For product context, see [Background automations](https://ona.com/docs/ona/automations/overview) and [Configure Automations](https://ona.com/docs/ona/automations/configure-automations).

{{ if .HasExamples -}}
## Example Usage

{{- range .ExampleFiles }}

{{ tffile . }}
{{- end }}
{{- end }}

{{ .SchemaMarkdown | trimspace }}
